body {
    font-size: 14pt;
    background-color: yellow;
}

form {
    margin: 10px;
    padding: 4px;
    width: 40%;
    display: inline-block;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 5px 10px 6px lightgray;
}

label {
    margin: 5px;
    font-size: 10pt;
    display: block;
}

input {
    margin: 10px;
    font-size: 8pt;
    width: 50%;
}

h2, h3 {
    text-decoration: underline;
    margin: 10px;
}

button {
    margin: 5px;
}

.centered {
    text-align: center;
}

p {
    margin: 5px;
}

.head-background {
    padding: 10px 0;
    text-align: center;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    border-radius: 8px;
}

.error {
    color: red;
    margin-left: 20px;
}